<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class="form-container-admin">
        <h2>Password Recover</h2>
        <form method="post" action="send-otp">
            <div class="form-group">
                <label for="productName">Username:</label>
                    <input type="text" name="user" id="user" placeholder="username" required>
            </div>
            <div class="form-group">
                <button type="submit" class="submit-btn">Request otp</button>
            </div>
            </div>
        </form>
    </div>
</body>
</html>