*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
    margin-bottom: 30px;
}

.form-container{
    width:300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container-admin{
    width:500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group{
    margin-bottom: 15px;
}

.form-group label{
    display: black;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input{
    width: 100%;
    padding: 8px;
    font-size: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submit-btn{
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgba(255, 255, 0, 0.715);
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: #d0d00b;
}

p{
    margin-top: 15px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    margin-top: 20px;
    width: 90%; /* Ensures the grid takes up enough space */
    max-width: 1200px; /* Prevents items from being too stretched */
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.order-details{
    gap: 16px;
    margin-top: 20px;
}